<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_lapangbola.com</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4">
      <h1 class="text-2xl font-bold my-4">BERITA UTAMA HARI INI</h1>

      <div class="flex flex-col overflow-hidden">
        <div class="flex relative rounded-3xl overflow-hidden">
          <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-full h-auto">
          <div class="absolute p-4 flex flex-col w-full h-full items-start justify-end">
              <p class="text-white font-[1000] text-4xl w-5/6 text-extrabold font-(family-name:poppins) p-5">
                Another brief description for a different article. Keep it short and engaging.
              </p>
          </div>
        </div>

        <div class="flex text-gray-500 text-sm px-10 py-2 justify-between">
          <div class="flex">
            <p>20 Dec 2021</p>
            <p class="mx-2">|</p>
            <p>Eep Saepoloh</p>
          </div>

          <div class="flex gap-6">
            <p>17,4K</p>
            <p>11.6K</p>
            <p>6,2K</p>
          </div>
        </div>

        <div class="text-black flex justify-between px-10 py-2">
          <div class="flex">
            <p class="">
              Dua tim yang berada di zona degradasi, Barito Putera dan Persipura mampu meraih tiga poin dalam laga penutup seri ketiga.
            <a href="/articles/1" class="text-[#062D2D] font-bold hover:underline">Baca Selengkapnya</a>
            </p>
          </div>
        </div>
      </div>

      <div class="w-full mt-8">
        <div class="text-xl font-bold p-4 flex justify-between items-center">
          BERITA HARIAN
          <span class="cursor-pointer">▼</span>
        </div>

        <div class="grid w-full">
          <div class="flex h-40">
            <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-auto h-auto p-4 rounded-3xl">
            <div class="flex flex-col justify-between py-4">
              <div class="flex flex-col h-full">
                <p class="text-sm text-gray-500">12 Dec 2020</p>
                <h3 class="font-bold">Review BRI Liga 1 2021 Pekan ke-16: Pemain Asing, Kunci Kemenangan Dua Raksasa Jawa Timur</h3>
                <p class="text-gray-600 text-sm line-clamp-2">Delapan tim mencatatkan nirbobol.</p>
              </div>
              <div class="flex items-end">
                <a href="/articles/1" class="text-sm font-semibold">Baca Selengkapnya</a>
              </div>
            </div>
          </div>

          <div class="flex h-40">
            <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-auto h-auto p-4 rounded-3xl">
            <div class="flex flex-col justify-between py-4">
              <div class="flex flex-col h-full">
                <p class="text-sm text-gray-500">12 Dec 2020</p>
                <h3 class="font-bold">Review BRI Liga 1 2021 Pekan ke-16: Pemain Asing, Kunci Kemenangan Dua Raksasa Jawa Timur</h3>
                <p class="text-gray-600 text-sm line-clamp-2">Delapan tim mencatatkan nirbobol.</p>
              </div>
              <div class="flex items-end">
                <a href="/articles/1" class="text-sm font-semibold">Baca Selengkapnya</a>
              </div>
            </div>
          </div>

          <div class="flex h-40">
            <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-auto h-auto p-4 rounded-3xl">
            <div class="flex flex-col justify-between py-4">
              <div class="flex flex-col h-full">
                <p class="text-sm text-gray-500">12 Dec 2020</p>
                <h3 class="font-bold">Review BRI Liga 1 2021 Pekan ke-16: Pemain Asing, Kunci Kemenangan Dua Raksasa Jawa Timur</h3>
                <p class="text-gray-600 text-sm line-clamp-2">Delapan tim mencatatkan nirbobol.</p>
              </div>
              <div class="flex items-end">
                <a href="/articles/1" class="text-sm font-semibold">Baca Selengkapnya</a>
              </div>
            </div>
          </div>

          <div class="flex h-40">
            <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-auto h-auto p-4 rounded-3xl">
            <div class="flex flex-col justify-between py-4">
              <div class="flex flex-col h-full">
                <p class="text-sm text-gray-500">12 Dec 2020</p>
                <h3 class="font-bold">Review BRI Liga 1 2021 Pekan ke-16: Pemain Asing, Kunci Kemenangan Dua Raksasa Jawa Timur</h3>
                <p class="text-gray-600 text-sm line-clamp-2">Delapan tim mencatatkan nirbobol.</p>
              </div>
              <div class="flex items-end">
                <a href="/articles/1" class="text-sm font-semibold">Baca Selengkapnya</a>
              </div>
            </div>
          </div>
          <div class="flex h-40">
            <img src="unsplash_mY2ZHBU6GRk.png" alt="Article Image" class="w-auto h-auto p-4 rounded-3xl">
            <div class="flex flex-col justify-between py-4">
              <div class="flex flex-col h-full">
                <p class="text-sm text-gray-500">12 Dec 2020</p>
                <h3 class="font-bold">Review BRI Liga 1 2021 Pekan ke-16</h3>
                <p class="text-gray-600 text-sm line-clamp-2">Delapan tim mencatatkan nirbobol. Delapan tim mencatatkan nirbobol. Delapan tim mencatatkan nirbobol. Delapan tim mencatatkan nirbobol. Delapan tim mencatatkan nirbobol.</p>
              </div>
              <div class="flex items-end">
                <a href="/articles/1" class="text-sm font-semibold">Baca Selengkapnya</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="text-sm font-semibold">Muat lebih banyak</button>
        </div>
      </div>
    </div>

    <section class="bg-[#062D2D] text-white pt-16 text-center w-full">
      <h2 class="text-3xl md:text-4xl font-extrabold mb-4 uppercase">
        Stay Right Up To Date
      </h2>
      <p class="text-gray-300 mb-8">
        Get great content to your inbox every week. No spam.
      </p>

      <%= form_with url: newsletter_subscribe_path, method: :post, local: true do %>
        <div class="flex flex-col md:flex-row justify-center items-center gap-4 max-w-xl mx-auto">
          <%= email_field_tag :email, nil, placeholder: "email address", class: "w-full md:w-[300px] py-3 px-5 rounded-full  placeholder-gray-600 focus:outline-none" %>
          <%= submit_tag "subscribe", class: "bg-[#FEEA01] text-black font-semibold px-6 py-3 rounded-full hover:bg-yellow-400 transition" %>
        </div>
      <% end %>

      <p class="text-xs text-gray-400 mt-4">
        Only great content, we don’t share your email with third parties.
      </p>
    </section>
  </body>
</html>