<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home_lapangbola.com</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="flex flex-col min-h-screen w-full overflow-x-hidden">
      <section class="w-full text-white pt-10 px-8 mt-auto min-h-screen bg-cover bg-center"
        style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('unsplash_mY2ZHBU6GRk.png');">
        <div class="flex items-center justify-center h-full pt-20">
          <img src="FromOutsidetheBox.png" alt="Moto" class="w-1/2 max-w-1/2 object-contain animate-fadein">
        </div>
      </section>
        <section class="w-full h-screen bg-cover bg-center" style="background-image: url('soon.jpg');">

        </section>
        <section class="w-full bg-[#ffff] py-16 px-8">
            <h2 class="text-center text-5xl font-bold">WORKSHOP</h2>
      <div class="max-w-7xl mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
          
          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="workshop1v2.jpg" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">
                            
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Dasar-dasar Sepak Bola untuk Pemula.
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
              Tahun 2025 masih ngga penasaran gimana analis sepakbola profesional bikin insight-insight yang tajam?
              <br>
              Materi ini Lapangbola bersama Ruang Taktik akan memberikan ilmu yang spesial!       
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp300.000</span>
                <a href="https://lapangbola-69524.myr.id/course/how-to-analyze-football-matches-like-a-pro-31017" class="text-blue-500 hover:underline mt-2 block">Daftar Sekarang</a>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="workshop2.jpg" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">              
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Jurnalisme Sepak Bola Modern: Adaptasi, Tantangan, dan Peluang di Era Teknologi
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Materi yang dibahas: <br>
                Langkah awal 
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp99.000</span>
                <a href="https://lapangbola-69524.myr.id/course/jurnalisme-sepak-bola-modern-adaptasi-tantangan-dan-peluang-di-era-teknologi-79627" class="text-blue-500 hover:underline mt-2 block">Daftar Sekarang</a>
              </div>
            </div>
          </div>
        </div>
      </div>

        </section>

        <section class="w-full bg-[#062D2D] py-16 px-8 text-white">
            <div class="text-center">
                <h2 class="text-5xl font-bold">FEATURES</h2>
                <p class="text-gray-400 mt-2">Lapangbola LMS memberikan kemudahan untuk pengelola liga dengan fitur-fitur berikut ini.</p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 max-w-3xl mx-auto mt-10 text-center">
                <div class="flex items-center border border-gray-500 p-6 rounded-xl shadow-lg bg-[#1A1F36]">
                  <div class="flex-shrink-0">
                    <img src="paper icon.png" alt="Paper Icon" class="w-24 h-24 object-contain">
                  </div>
                  <div class="pl-6">
                    <h3 class="text-xl font-bold">Team Registrations</h3>
                    <p class="text-gray-400 text-sm mt-2 text-justify">Pendaftaran tim peserta liga dapat dilakukan langsung melalui platform Lapangbola.</p>
                    <a href="#" class="mt-4 text-yellow-400 font-semibold inline-block">Learn More</a>
                  </div>
                </div>
                <div class="flex items-center border border-gray-500 p-6 rounded-xl shadow-lg bg-[#1A1F36]">
                  <div class="flex-shrink-0">
                    <img src="score.png" alt="score icon" class="w-24 h-24 object-contain">
                  </div>
                  <div class="pl-6">
                    <h3 class="text-xl font-bold">Livescore</h3>
                    <p class="text-gray-400 text-sm mt-2 text-justify">Pertandingan dapat diikuti dari manapun.</p>
                    <a href="#" class="mt-4 text-yellow-400 font-semibold inline-block">Learn More</a>
                  </div>
                </div>
                <div class="flex items-center border border-gray-500 p-6 rounded-xl shadow-lg bg-[#1A1F36]">
                  <div class="flex-shrink-0">
                    <img src="graph 1.png" alt="graph1 icon" class="w-24 h-24 object-contain">
                  </div>
                  <div class="pl-6">
                    <h3 class="text-xl font-bold">Team Statistics</h3>
                    <p class="text-gray-400 text-sm mt-2 text-justify">Performa setiap tim dicatat dan dapat menjadi bahan evaluasi serta menentukan strategi tim ke depan.</p>
                    <a href="#" class="mt-4 text-yellow-400 font-semibold block">Learn More</a>
                  </div>
                </div>
                <div class="flex items-center border border-gray-500 p-6 rounded-xl shadow-lg bg-[#1A1F36]">
                  <div class="flex-shrink-0">
                    <img src="graph 2.png" alt="graph2 icon" class="w-24 h-24 object-contain">
                  </div>
                  <div class="pl-6">
                    <h3 class="text-xl font-bold">Player Statistics</h3>
                    <p class="text-gray-400 text-sm mt-2 text-justify">Pemain dapat melihat performa mereka selama pertandingan.</p>
                    <a href="#" class="mt-4 text-yellow-400 font-semibold block">Learn More</a>
                  </div>
                </div>
            </div>
        </section>
        <section class="w-full bg-white py-16 px-8">
          <div class="text-center">
            <h2 class="text-5xl font-bold text-black">OUR CLIENTS & PARTNERS</h2>
          </div>
            <div class="relative max-w-6xl mx-auto mt-10 flex items-center">
              <button class="absolute left-0 bg-gray-300 p-2 rounded-full shadow-md hover:bg-gray-400 left-button">
                &#x2039;
              </button>
                <div id="clientsScroll" class="flex overflow-x-auto gap-6 px-10 scrollbar-hide">
                    <div class="flex flex-col items-center border p-6 rounded-xl shadow-lg w-80">
                        <div class="border p-4 rounded-lg"> 
                            <img src="image 5.png" alt="Kemenpora" class="w-15 h-12 mb-4">
                        </div>
                        <h3 class="text-xl font-bold text-black">KEMENPORA</h3>
                        <p class="text-gray-600 text-center text-sm mt-2">Lapangbola diberi kepercayaan sebagai partner untuk mengelola statistik pertandingan dan sistem turnamen K-IFC 2019 dan Piala Super Muda Kemenpora 2019.</p>
                        <a href="#" class="mt-4 text-blue-600 font-semibold">Read Story</a>
                    </div>
                    
                    <div class="flex flex-col items-center border p-6 rounded-xl shadow-lg w-80">
                        <div class="border p-4 rounded-lg">
                            <img src="image 6.png" alt="Liga 1 & 2" class="w-15 h-12 mb-4">
                        </div>
                        <h3 class="text-xl font-bold text-black">Liga 1 & 2</h3>
                        <p class="text-gray-600 text-center text-sm mt-2">Liga 1 & Liga 2 merupakan kompetisi profesional kasta tertinggi di Indonesia. Lapangbola dipercaya menjadi partner statistik resmi Liga 1 dan Liga 2.</p>
                        <a href="#" class="mt-4 text-blue-600 font-semibold">Read Story</a>
                    </div>
                    
                    <div class="flex flex-col items-center border p-6 rounded-xl shadow-lg w-80">
                        <div class="border p-4 rounded-lg">
                            <img src="image 7.png" alt="UseeTV" class="w-15 h-12 mb-4">
                        </div>
                        <h3 class="text-xl font-bold text-black">UseeTV</h3>
                        <p class="text-gray-600 text-center text-sm mt-2">UseeTV adalah jaringan TV Kabel milik Telkom. Lapangbola menyediakan statistik untuk siaran langsung Liga 1 di UseeTV.</p>
                        <a href="#" class="mt-4 text-blue-600 font-semibold">Read Story</a>
                    </div>
                </div>
              <button class="absolute right-0 bg-gray-300 p-2 rounded-full shadow-md hover:bg-gray-400 right-button">
                &#x203A;
              </button>
            </div>
        </section>
    </body>
</html>
