<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>workshop</title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div>
      <div>
        <h1 class="text-4xl font-bold text-center">WORKSHOP </h1>
        <p class="text-lg mt-2 text-center">Kembangkan Skill anda<br> dan belajar dari pengajar terbaik.</p>
      <div class="max-w-7xl mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          
          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_1" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">
                            
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Dasar-dasar Sepak Bola untuk Pemula.
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Anak-anak usia 8–12 tahun<br>
                Materi:
                Teknik dasar, Peraturan dasar permainan <br>
                Durasi: 1 hari (4–5 jam)              
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp75.000</span>
                <span>28/02/2025</span>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_2" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">              
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Strategi dan Taktik Bermain Sepak Bola
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Remaja 13–18 tahun dan pelatih muda<br>
                 Peserta memahami konsep formasi dan dapat mengatur permainan berdasarkan strategi.
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp100.000</span>
                <span>22/10/2025</span>
              </div>
            </div>
          </div>

                    <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_1" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">
                            
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Dasar-dasar Sepak Bola untuk Pemula.
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Anak-anak usia 8–12 tahun<br>
                Materi:
                Teknik dasar, Peraturan dasar permainan <br>
                Durasi: 1 hari (4–5 jam)              
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp75.000</span>
                <span>28/02/2025</span>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_2" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">              
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Strategi dan Taktik Bermain Sepak Bola
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Remaja 13–18 tahun dan pelatih muda<br>
                 Peserta memahami konsep formasi dan dapat mengatur permainan berdasarkan strategi.
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp100.000</span>
                <span>22/10/2025</span>
              </div>
            </div>
          </div>
                    <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_1" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">
                            
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Dasar-dasar Sepak Bola untuk Pemula.
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Anak-anak usia 8–12 tahun<br>
                Materi:
                Teknik dasar, Peraturan dasar permainan <br>
                Durasi: 1 hari (4–5 jam)              
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp75.000</span>
                <span>28/02/2025</span>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="URL_GAMBAR_2" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">              
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Strategi dan Taktik Bermain Sepak Bola
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Target: Remaja 13–18 tahun dan pelatih muda<br>
                 Peserta memahami konsep formasi dan dapat mengatur permainan berdasarkan strategi.
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp100.000</span>
                <span>22/10/2025</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html> 