<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>workshop</title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div>
      <div>
        <h1 class="text-4xl font-bold text-center">WORKSHOP </h1>
        <p class="text-lg mt-2 text-center">Kembangkan Skill anda<br> dan belajar dari pengajar terbaik.</p>
      <div class="max-w-7xl mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
          
          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="workshop1v2.jpg" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">
                            
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Dasar-dasar Sepak Bola untuk Pemula.
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
              Tahun 2025 masih ngga penasaran gimana analis sepakbola profesional bikin insight-insight yang tajam?
              <br>
              Materi ini Lapangbola bersama Ruang Taktik akan memberikan ilmu yang spesial!       
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp300.000</span>
                <a href="https://lapangbola-69524.myr.id/course/how-to-analyze-football-matches-like-a-pro-31017" class="text-blue-500 hover:underline mt-2 block">Daftar Sekarang</a>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col">
            <img src="workshop2.jpg" alt="Event Image" class="w-full h-48 object-cover">
            <div class="p-4 flex flex-col flex-1">              
              <h2 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-2">
                Jurnalisme Sepak Bola Modern: Adaptasi, Tantangan, dan Peluang di Era Teknologi
              </h2>
              
              <p class="text-sm text-gray-500 mb-2">
                oleh: Lapangbola Event
              </p>
              
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                Materi yang dibahas: <br>
                Langkah awal 
              </p>
              
              <div class="mt-auto flex justify-between text-sm text-gray-500">
                <span>Rp99.000</span>
                <a href="https://lapangbola-69524.myr.id/course/jurnalisme-sepak-bola-modern-adaptasi-tantangan-dan-peluang-di-era-teknologi-79627" class="text-blue-500 hover:underline mt-2 block">Daftar Sekarang</a>
              </div>
            </div>
          </div>

          
      </div>
      </div>
    </div>
  </body>
</html> 